node_modules
*.DS_Store
build/
built/
node_modules/
proving-files/
zapps/
test-zapps/
temp-zapps/
truezapps/

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
