# This is a basic workflow to help you get started with Actions

name: test-on-pr

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test-zappify:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: compile and test
        run: |
          npm i npm@7
          tsc
          npm test

  test-zapp:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v1
        with:
          node-version: '14.17.0'

      - name: run zappify
        run: |
          npm ci && ./bin/start
          zappify -i test/contracts/Assign-public-admin.zol -o temp-zapps

      - name: replace zokrates image for actions test
        uses: jacobtomlinson/gha-find-replace@v2
        with:
          find: "ghcr.io/eyblockchain/zokrates-worker-m1:v1.1"
          replace: "ghcr.io/eyblockchain/zokrates-worker-m1:v0.1"
          include: "**docker-compose.zapp.yml"

      - name: set up zapp
        run: |
          cd temp-zapps/Assign-public-admin
          npm i
          docker-compose -f docker-compose.zapp.yml build
          docker-compose -f docker-compose.zapp.yml up -d zokrates

      - name: generate zapp keys
        run: cd temp-zapps/Assign-public-admin && chmod +x ./bin/setup && ./bin/setup

      - name: run zapp npm test
        run: cd temp-zapps/Assign-public-admin && chmod +x ./bin/startup && npm test

      - name: disp logs on failure
        if: failure()
        run: docker logs assign-public-admin_zokrates_1
